.Acc_transactionHistoryContainer {
  width: 1300px;
  background-color: #282d2b;
  padding: 10px 20px;
  border-radius: 10px;
  color: aliceblue;
  .Acc_transactionHistory {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .Acc_transactionHistoryHeader {
      display: flex;
      justify-content: space-between;
      button {
        color: white;
        background-color: transparent;
        border: 1px solid rgba($color: #fff, $alpha: 0.5);
        border-radius: 7px;
        cursor: pointer;
      }
    }
    .Acc_transactionHistoryProperties {
      display: flex;
      justify-content: space-between;

      .Acc_transactionHistorySlotAge {
        display: flex;
        gap: 88px;
        padding-right: 5px;
      }
    }
    .Acc_transactionHistoryInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .Acc_transactionHistoryInfoData {
        display: flex;
        justify-content: space-between;
        transition: 0.3s;
        padding: 5px;
        border-radius: 5px;
        &:hover {
          background-color: black;
        }
        a {
          cursor: pointer;
        }
        .Acc_transactionHistoryInfoSlotBlockTime {
          display: flex;
          gap: 40px;
        }
        p:last-child {
          background-color: #116939;
          padding: 2px 7px;
          border-radius: 5px;
          font-size: 12px;
        }
      }
    }
  }
}
